body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.upper {
  text-transform: uppercase;
}

.page-header {
  border-bottom: 1px solid #f5f5f5;
}
@media screen and (min-width: 768px) {
  .page-header {
    display: flex;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, color;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle.is-open .icon-cross {
  display: block;
}

.page-header__logo {
  padding: 24px 0;
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.page-header__logo-accent {
  color: #2196f3;
}

.page-header__logo-accent-second {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .page-header__main-nav {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .page-header__main-nav {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__main-nav {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .page-heder__burger-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .page-header__burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 9;
    padding-left: 40px;
    background-color: #ffffff;
  }
}
.page-header__burger-menu.is-open {
  display: block;
}
.page-header__burger-menu.is-open .menu-toggle:hover, .page-header__burger-menu.is-open .menu-toggle:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .page-header__burger-menu {
    display: flex;
    margin-left: 88px;
    flex-grow: 1;
  }
}

.page-header__burger-menu .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.site-nav {
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: block;
    margin-top: 48px;
    margin-bottom: 306px;
    margin-left: 0;
    letter-spacing: 0.02em;
    font-size: 40px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  color: #212121;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    padding: 32px 0;
  }
}

.site-nav__link--current {
  position: relative;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    scale: 1;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link--current:hover::after, .site-nav__link--current:focus::after {
    scale: 1.3;
  }
}

.site-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
@media screen and (max-width: 767px) {
  .site-contacts {
    display: block;
    margin-bottom: 64px;
    letter-spacing: 0.02em;
    font-size: 32px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .site-contacts {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: auto;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .site-contacts {
    align-items: center;
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .site-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .site-contacts__item:last-child {
    font-size: 24px;
    line-height: 1.2;
  }
}

.site-contacts__link {
  color: #757575;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
@media screen and (max-width: 767px) {
  .site-contacts__link {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .site-contacts__link {
    padding: 0;
  }
}
.site-contacts__link:hover, .site-contacts__link:focus {
  color: #2196f3;
}

.site-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .site-contacts__icon {
    display: none;
  }
}

.burger-social {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .burger-social {
    display: none;
  }
}

.burger-social__item {
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.02;
}
@media screen and (min-width: 480px) {
  .burger-social__item {
    font-size: 18px;
  }
}

.burger-social__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}

.burger-social__link {
  color: #2196f3;
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcghero-480.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #2f303a;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcghero-960.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcghero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcghero-1536.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcghero-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcghero-3200.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 100%;
  font-size: 26px;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
  }
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.hero__button-primary {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.hero__button-primary:hover, .hero__button-primary:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  scale: 1;
  transition-property: opacity, scale;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1), 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  scale: 1.8;
  pointer-events: none;
}

.modal {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  scale: 1;
  transition-property: scale;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .modal {
    position: absolute;
    max-width: 450px;
    max-height: 609px;
    top: 93px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    width: 450px;
    height: 609px;
    top: 208px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%);
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: solid 1px #afb1b8;
  cursor: pointer;
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}

.form {
  width: 100%;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__field {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: start;
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__field input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  margin-bottom: 4px;
}

.form__field label {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field input:focus {
  border-color: #2196f3;
}

.form__field input:focus ~ .form__icon {
  fill: #2196f3;
}

.input-icon {
  position: relative;
  width: 100%;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:focus {
  border-color: #2196f3;
}

input,
textarea {
  outline: none;
}

.check {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 1200px) {
  .check {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.01em;
  }
}

.check__contract {
  color: #2196f3;
  text-decoration: underline;
}

.check__checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check__icon {
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.check__checkbox:checked + .check__icon {
  border: none;
  border-radius: 2px;
  background-color: #2196f3;
}

.check__button-primary {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.check-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.features__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features__list {
  align-items: center;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: -15px;
  }
}

.features__item {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 120px) / 4);
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .features__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
}

.features__title-second {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .features__title-second {
    text-align: left;
  }
}

.features__paragraph {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity {
  padding-top: 0;
  padding-bottom: 94px;
}

.activity__title {
  padding-top: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.activity__list {
  display: flex;
  justify-content: space-between;
}

.activity__item {
  position: relative;
  z-index: -1;
}

.activity__thumb {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
}

.activity__paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.post-card {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .post-card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
  }
}

.post-card__item {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .post-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .post-card__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .post-card__item {
    margin: 15px;
    width: calc((100% - 120px) / 4);
  }
}

.post-card__img {
  width: 100%;
}

.post-card__description {
  padding: 30px;
}

.post-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.post-card__paragraph {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.post-card__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.post-card__social-link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
}
.post-card__social-link:hover, .post-card__social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, fill;
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.page-footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: start;
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.page-footer__logo-accent {
  color: #2196f3;
}

.page-footer__logo-accent-third {
  color: #ffffff;
}

.page-footer__contacts li:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (max-width: 767px) {
  .page-footer__contacts {
    margin-bottom: 60px;
  }
}

.page-footer__link {
  color: #ffffff;
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__link:hover, .page-footer__link:focus {
  color: #2196f3;
}

.page-footer__link-second {
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.page-footer__link-second:hover, .page-footer__link-second:focus {
  color: #2196f3;
}

.page-footer__paragraph {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.page-footer__social-list {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .page-footer__social-list {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.page-footer__link-third {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.page-footer__link-third:hover, .page-footer__link-third:focus {
  background-color: #2196f3;
}

.page-footer__form {
  display: flex;
}
@media screen and (min-width: 768px) {
  .page-footer__form {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__form {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media screen and (max-width: 767px) {
  .page-footer__form {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.page-footer__field {
  display: flex;
  flex-direction: column;
}
.page-footer__field input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__field input:hover, .page-footer__field input:focus {
  border-color: #2196f3;
}
.page-footer__field input:hover::placeholder, .page-footer__field input:focus::placeholder {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .page-footer__field {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .page-footer__field {
    margin-bottom: 20px;
  }
}

.page-footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #f5f4fa;
  fill: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.page-footer__button:hover, .page-footer__button:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .page-footer__button {
    margin-left: 12px;
  }
}

.page-footer__icon {
  margin-left: 10px;
}

.page-footer__form label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer__form input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .page-footer__form input {
    width: 100%;
  }
}

.examples {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .examples {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.examples__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.examples__list {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .examples__list {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .examples__list {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .examples__list {
    margin-bottom: 50px;
  }
}

.examples__button {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, box-shadow;
}
.examples__button:hover, .examples__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .examples-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .examples-container {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-container {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .examples-container__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .examples-container__item {
    width: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-container__item {
    width: 370px;
    margin: 15px;
  }
}

.examples-container__link {
  display: block;
}
.examples-container__link:hover, .examples-container__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-container__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-container .examples-container__link:hover .overlay, .examples-container .examples-container__link:focus .overlay {
  transform: translateY(0);
}

.overlay__paragraph {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  margin: 63px 24px;
}

.examples-container__description {
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.examples-container__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.examples-container__paragraph {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */