footer {
  background-color: $back-color-first;
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.page-footer {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.page-footer__logo-accent {
  color: $accent-color;
}

.page-footer__logo-accent-third {
  color: $main-color;
}

.page-footer__contacts li:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__link {
  color: $main-color;
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.page-footer__link-second {
  color: $footer-link-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.page-footer__paragraph {
  margin-bottom: 20px;
  color: $bcg-body;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.page-footer__social-list {
  display: flex;
  gap: 10px;
}

.page-footer__link-third {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: $icon-bcg-footer;
  fill: $main-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.page-footer__form {
  display: flex;
  align-items: flex-end;
}

.page-footer__field {
  display: flex;
  flex-direction: column;

  & input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & input:hover,
  & input:focus {
    border-color: $accent-color;
  }

  & input:hover::placeholder,
  & input:focus::placeholder {
    color: $accent-color;
  }
}

.page-footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: $back-color-second;
  fill: $bcg-body;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;

  &:hover,
  &:focus {
    background-color: $back-main-button;
  }
}

.page-footer__icon {
  margin-left: 10px;
}

.page-footer__form label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $bcg-body;
}

.page-footer__form input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  background-color: $back-color-first;
  color: $bcg-body;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
