$main-color: #ffffff;
$accent-color: #2196f3;
$link-color: #212121;
$site-contacts-color: #757575;
$footer-link-color: rgba(255, 255, 255, 0.6);
$back-color-first: #2f303a;
$back-color-second: #f5f4fa;
$bcg-body: #ffffff;
$accent-second: #000000;
$back-main-button: #188ce8;
$icon-color: #afb1b8;
$icon-bcg-footer: rgba(255, 255, 255, 0.1);
$thumb-doing-bcg: rgba(47, 48, 58, 0.8);
$backdrop: rgba(0, 0, 0, 0.2);
$thumb-examples-bcg: rgba(33, 150, 243, 0.9);
$border-modal-lbl: rgba(33, 33, 33, 0.2);
